
<body>
    <header class="header">
    <div>
    <h1 class="#">PicTweet</h1>
    </div>
   <div>
       <% if user_signed_in? %>

            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    
        <% else %>

            <%= link_to "ログイン", new_user_session_path, class: "post" %>
            <%= link_to "新規登録", new_user_registration_path, class: "post" %>

        <% end %>
    </div>
    </header>
<div class=top-page>
  
  <%# ヘッド部分 %>

  <div class=head_pic>
     

   <div class="top-text">画面越しの気まずい会話に</br>さようなら。 </div>
   <div class=top_pic_text>

 
    
   
     </p>
   </div>

   </div>
    <div class="top-btn">
      <div class="top-btn_a">
      
      <a href=/themes class="btn-emergency">
      <span class="btn-emergency-bottom"></span>
      <span class="btn-emergency-top"><span >使用</span></span>
      </a>
      <h1>自動ファシリテーション</h1>


      </div>

      <div>  <%= image_tag "iphone.png", class:'top_pic'%> </div>
      
     <div class="top-btn_b">

      <a href=/top class="btn-emergency">
        <span class="btn-emergency-bottom"></span>
        <span class="btn-emergency-top"><span>使用</span></span>
      </a>
            <h1>リモート会議サポート</h1>
      </div>

    </div>

  </div>

  
  <%# シーン別 %>
<div class="issu">
  
  <div class=issu_1>
   <div class=issu_title>テンポ良く会話ができない</div>
    <p>
     <%= image_tag "1531652765.png", class:'issu_pic'%>
    <p class="pic_text">一度に一人しかしゃべることができないからついつい沈黙がおきがち 誰か話をリードしてくれるファシリテーターみたいな人がいたらいいのにな・・・
    </p>
    </p>
  </div>
  
   <div class=issu_２>
   <div class=issu_itle>話が盛り上がらない</div>
    <p>
        <%= image_tag "1544004280.png", class:'issu_pic'%>
    <p class="pic_text">なんでもなんでもリモート化画面越しに話すのは慣れてなくていまいち盛り上がらないな・・・・

    </p>
    </p>
  </div>

  <div class=issu_２>
   <div class=issu_itle>意思共有のミスマッチ</div>
    <p>
     <%= image_tag "1522986633.png", class:'issu_pic'%>
  
    <p class="pic_text">誤解や行き違いによるミスコミュニケーションの心配、言いたいことが伝わらないし伝わっているのはストレス....
    </p>
    </p>
  </div>



</div>
 

