<header class="header">
      <nav class="nav">
        <ul class="header_menu">
          <li class="header_menu_title"><%= link_to "ONLINE SUPPORT", root_path, class: "nav-link" %></li>
          <li class="nav-link"><%= current_user.name %>さん</li>
          <li><%= link_to "リストに戻る",top_index_path , class: "nav-link listNew" %></li>
          <li><%= link_to "議事録一覧", records_path, class: "nav-link listNew" %></li>
          <li><%= link_to "サインアウト", destroy_user_session_path, class: "nav-link", method: :delete %></li>

        </ul>
           </ul>
          </li>
        </ul>
      </nav>
 </header>
<div class="cardeditPgae">
  <div class='contain'>
    <%= form_with model: @pic, url: { action: :update }, html: { class: 'cardeditForm' }, local: true do |f| %>
      <% if @pic.errors.any? %>
        <p class="text-danger">タイトルは1～255文字以内で入力してください</p>
      <% end %>
      <div class="cardeditForm_title">
        <%= f.label :title %>
        <%= f.text_field :title, class: "form-control", placeholder: "カード名" %>
      </div>
      <div class="cardeditForm_memo">
        <%= f.label :memo %>
        <%= f.text_area :memo, class: "form-control", placeholder: "詳細" %>
      </div>
      <div class="img-upload">
          <div class="weight-bold-text">
            添付資料
          </div>
          <div class="click-upload">
            <%= f.file_field :image, id:"item-image" %>
            <div class="preview" id="image-list">
            

        </div>
      
      <div class="text-center"><%= f.submit "更新する", class: "submitBtn" %></div>
    <% end %>
  </div>
</div>